// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #1a73ea;
$secondary : #2abed5;
$accent    : #F0F7FC;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

